{% extends 'layout.njk' %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/517198/300x400) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Professor(a)</h3>

            <div class="information">
                <div>Nome completo</div>
                <div>Gabriel José Ribeiro Corrêa de Sá Benevides</div>
            </div>
            <div class="information">
                <div>Idade</div>
                <div>21</div>
            </div>
            <div class="information">
                <div>Grau de escolaridade</div>
                <div>Superior (cursando)</div>
            </div>
            <div class="information">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>
            <div class="information">
                <div>Acompanhamento</div>
                <div class="item">
                    <span>Matemática</span>
                    <span>Física</span>
                </div>
            </div>
            <div class="information">
                <div>Desde</div>
                <div>02/07/2019</div>
            </div>
        </section>
    </div>

{% endblock content %}