<div class="information">
    <div>Avatar url</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ student.avatar_url }}">
    </div>
</div>
<div class="information">
    <div>Nome completo</div>
    <div>
        <input type="text" name="name" placeholder="Nome do Aluno" value="{{ student.name }}">
    </div>
</div>
<div class="information">
    <div>Email</div>
    <div>
        <input type="email" name="email" value="{{ student.email }}">
    </div>
</div>
<div class="information">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ student.birth }}">
    </div>
</div>
<div class="information">
    <div>Ano escolar</div>
    <div>
        <select name="degree">
            <option value="5EF" {% if student.degree == "5EF" or student.degree == "5° ano do ensino fundamental" %} selected="selected" {% endif %}>
                5° ano do ensino fundamental
            </option>
            <option value="6EF" {% if student.degree == "6EF" or student.degree == "6° ano do ensino fundamental" %} selected="selected" {% endif %}>
                6° ano do ensino fundamental
            </option>
            <option value="7EF" {% if student.degree == "7EF" or student.degree == "7° ano do ensino fundamental" %} selected="selected" {% endif %}>
                7° ano do ensino fundamental
            </option>
            <option value="8EF" {% if student.degree == "8EF" or student.degree == "8° ano do ensino fundamental" %} selected="selected" {% endif %}>
                8° ano do ensino fundamental
            </option>
            <option value="9EF" {% if student.degree == "9EF" or student.degree == "9° ano do ensino fundamental" %} selected="selected" {% endif %}>
                9° ano do ensino fundamental
            </option>
            <option value="1EM" {% if student.degree == "1EM" or student.degree == "1° ano do ensino médio" %} selected="selected" {% endif %}>
                1° ano do ensino médio
            </option>
            <option value="2EM" {% if student.degree == "2EM" or student.degree == "2° ano do ensino médio" %} selected="selected" {% endif %}>
                2° ano do ensino médio
            </option>
            <option value="3EM" {% if student.degree == "3EM" or student.degree == "3° ano do ensino médio" %} selected="selected" {% endif %}>
                3° ano do ensino médio
            </option>
        </select>
    </div>
</div>
<div class="information">
    <div>Carga horária (h)</div>
    <div>
        <input type="number" name="class_load" value="{{ student.class_load }}">
    </div>
</div>

<button type="submit">Salvar</button>