@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #7159C1;
    --secondary-color: #fdef26;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 24px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: black;
    position: relative;
}

.links a.active {
    font-weight: bold;
}

.links a::after {
    content: "";
    background-color: black;
    font-weight: bold;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
}

.links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

/*=== TEACHERS ===*/
.card {
    background-color: white;
    width: 800px;
    min-height: 500px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 4fr 6fr;
    box-shadow: 3px 3px 20px 2px black;

    /* animation */
    animation-name: up;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(64px);
    } 
    to {
        opacity: 1;
    }
}

.details {
    margin: 20px 30px;
}

.details h3 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.information {
    margin: 0 auto;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.information div:nth-child(1) {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
}

.information div:nth-child(2) {
    font-weight: normal;
    margin-top: 4px;
    font-size: 18px;
    line-height: 28px;
}

.information:last-child {
    border: none;
}

.information span {
    background-color: var(--secondary-color);
    border-radius: 16px;
    padding: 8px 16px;
    font-size: 14px;
    color: rgba(88, 85, 85, 0.8);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 8px;
}

/*=== FORM ===*/
form {
    display: inline;
}

select,
input {
    outline: none;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

input::placeholder {
    font-weight: bold;
    color: #bbb;
}

input[type="text"] {
    line-height: 28px;
}

.modality span {
    margin-right: 16px;
}

input[type="radio"] {
    width: auto;
    margin-right: 1px;
}

button {
    width: 200px;
}

a.button,
button[type="submit"] {
    background-color: var(--primary-color);
    margin-top: 32px;
    padding: 16px 0;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 2px black;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

#form-delete button[type="submit"] {
    background-color: lightcoral;
    margin-left: 16px;
}

a.button {
    display: block;
    text-decoration: none;
}

/* INDEX VIEW */
.table-content {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-content table {
    border-spacing: 0;
    width: 100%;
}

.table-content thead tr th {
    font-size: 14px;
    text-align: left;
    color: #777;
    text-transform: uppercase;
}

td, th {
    border-bottom: 1px solid rgba(88, 85, 85, 0.397);
    padding: 16px;
}

.table-content tbody tr td span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;

}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px black;
    border: 1px solid white;
}