@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #7159C1;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 24px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: black;
    position: relative;
}

.links a.active {
    font-weight: bold;
}

.links a::after {
    content: "";
    background-color: black;
    font-weight: bold;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
}

.links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

/*=== TEACHERS ===*/
.card {
    background-color: white;
    width: 800px;
    height: 600px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 4fr 6fr;
    box-shadow: 3px 3px 20px 2px black;
}

.details {
    margin-left: 20px;
}

.details h3 {
    color: var(--primary-color);
    font-size: 24px;
    margin-top: 16px;
}

.information {
    margin-top: 20px;
}

.information div:nth-child(1) {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
}

.information div:nth-child(2) {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}