<div class="information">
    <div>Avatar url</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ teacher.avatar_url }}">
    </div>
</div>
<div class="information">
    <div>Nome completo</div>
    <div>
        <input type="text" name="name" placeholder="Nome do professor" value="{{ teacher.name }}">
    </div>
</div>
<div class="information">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ teacher.birth }}">
    </div>
</div>
<div class="information">
    <div>Grau de escolaridade</div>
    <div>
        <select name="degree">
            <option value="high-school" {% if teacher.degree == "high-school" %} selected="selected" {% endif %}>Ensino Médio Completo</option>
            <option value="college" {% if teacher.degree == "college" %} selected="selected" {% endif %}>Ensino Superior Completo</option>
            <option value="masters" {% if teacher.degree == "masters" %} selected="selected" {% endif %}>Mestrado</option>
            <option value="doctorate" {% if teacher.degree == "doctorate" %} selected="selected" {% endif %}>Doutorado</option>
        </select>
    </div>
</div>
<div class="information">
    <div>Tipo de aula</div>
    <div class="modality">
        <span><input type="radio" name="modality" value="Presencial" {% if teacher.modality == 'Presencial' %} checked="checked" {% endif %}>
            Presencial</span>
        <span><input type="radio" name="modality" value="Remota" {% if teacher.modality == 'Remota' %} checked="checked" {% endif %}>
            À Distância</span>
    </div>
</div>
<div class="information">
    <div>Área de atuação</div>
    <div class="item">
        <input type="text" name="lessons" placeholder="Separe as áreas por vírgula" value="{{ teacher.lessons }}">
    </div>
</div>

<button type="submit">Salvar</button>